body {
     background-color: #eeedef;
 font-family: 'Roboto';   
font-weight: 500;
    margin: 0px;
}

header  {
    
 background-color: #4977ba;
    height: 60px;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 22pt;
    
}

nav {
 display: inline-block;   
}

.icon {
 width: 20%;
}

.text {
    
 width:60%;   
}


.filter {
    
 background-color: #67c5b5;
    text-align: center;
    color: #fff;
    height: 60px;
    padding-top: 30px;
    font-size: 18pt;
}

.filter em {
    
    font-style: normal;
    border-bottom: 3px solid #fff;
    padding-bottom: 3px;
    
}



#itemContainer {
    
 width: 95%;
    margin: 0 auto;
    padding-left: 15px;
    
    
}

.item {
    opacity: 0;
    transform: scale(.1);
  position: relative;
  display: inline-block;
  width: 28%;
  height: 150px;
    margin: 2%;
  box-sizing: border-box;
/*   position: absolute; */
  z-index: 99;
  -webkit-transition: z-index .2s, opacity .5s, transform, .5s;
  /* For Safari 3.1 to 6.0 */
  transition: z-index .2s, opacity .5s, transform, .5s;
    background-color: #fff;
    
    
}


.in {
    
opacity: 1;
transform:scale(1); 
    
}



.item img {
    
 width: 100%;   
}

.item span {
    
 display: none;   
     background-color: #fff;
}



span h1 {
    font-size: 14pt;
    padding: 0px 15px 8px 15px;
    margin: 0px;
    color: #4977ba;
    
}

.freshMeterGreen {
    
 position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #67c5b5;
    display: block;
}

span p {
    font-family: "Roboto";
    font-weight: 400;
margin: 0px;
 padding: 0px 15px 8px 15px; 
}

.absItem {
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  z-index: 90;
  -webkit-transition: bottom .5s, right .5s, left .5s;
  transition: bottom .5s, right .5s, left .5s;
    transition-timing-function: ease;
   
  
}




.scaleTransLeft {
  bottom : -80px;
  right: -120px;

}


.scaleTransMid {
  bottom : -80px;
  right: -60px;
  left: -60px;

}


.scaleTransRight {
  bottom : -80px;
  left: -120px;

}

.index {
  z-index: 100;
  
}

.inner {
    
 min-height: 150px;
        background-color: #fff;
}



paper-material {

}




@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Book.otf')
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('fonts/Gotham-Medium.otf')
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham-Black';
    src: url('fonts/Gotham-Black.otf')
    font-weight: normal;
    font-style: normal;

}

